@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* BASE (DARK-FIRST AESTHETIC)*/
:root {
 
  --background: 18 22 28;        
  --foreground: 226 232 240;     

  --card: 24 28 35;              
  --card-foreground: 226 232 240;

  --popover: 28 32 40;
  --popover-foreground: 226 232 240;

  
  --primary: 0, 77, 64;         
  --primary-foreground: 6 44 38;

  
  --secondary: 44 52 64;
  --secondary-foreground: 203 213 225;


  --accent: 60 72 8;
  --accent-foreground: 226 232 240;

  
  --muted: 32 38 48;
  --muted-foreground: 148 163 184;

  
  --destructive: 239 68 68;
  --destructive-foreground: 254 226 226;

  --progress-track: 32 38 48;      
  --progress-indicator: 92 200 158;
 
  --border: 45 53 66;
  --input: 45 53 66;
  --ring: 92 200 158;


  --chart-1: 92 200 158;
  --chart-2: 129 230 191;
  --chart-3: 167 243 208;
  --chart-4: 52 211 153;
  --chart-5: 16 185 129;


  --radius: 0.75rem;

  
  --sidebar: 20 24 30;
  --sidebar-foreground: 203 213 225;
  --sidebar-primary: 92 200 158;
  --sidebar-primary-foreground: 6 44 38;
  --sidebar-accent: 32 38 48;
  --sidebar-accent-foreground: 203 213 225;
  --sidebar-border: 45 53 66;
  --sidebar-ring: 92 200 158;
}

/* LIGHT (for toggle) */

:root.light {
  --background: 245 247 250;
  --foreground: 5 2 42;

  --card: 245 245 245;
  --card-foreground: ;

  --primary: 0, 79, 64;        
  --primary-foreground: 6 44 38;

  --secondary: 226 232 240;
  --secondary-foreground: 15 23 42;

  --accent: 60 72 8;
  --accent-foreground: 226 232 240;

  --muted: 226 232 240;
  --muted-foreground: 100 116 139;

  --progress-track: 226 232 240;   
  --progress-indicator: 0 0 0;


  --border: 226 232 240;
  --input: 226 232 240;
  --ring: 22 163 74;

}


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-card: rgb(var(--card));
  --color-card-foreground: rgb(var(--card-foreground));
  --color-popover: rgb(var(--popover));
  --color-popover-foreground: rgb(var(--popover-foreground));

  --color-primary: rgb(var(--primary));
  --color-primary-foreground: rgb(var(--primary-foreground));
  --color-secondary: rgb(var(--secondary));
  --color-secondary-foreground: rgb(var(--secondary-foreground));
  --color-accent: rgb(var(--accent));
  --color-accent-foreground: rgb(var(--accent-foreground));

  --color-muted: rgb(var(--muted));
  --color-muted-foreground: rgb(var(--muted-foreground));
  --color-destructive: rgb(var(--destructive));
  --color-destructive-foreground: rgb(var(--destructive-foreground));

  --color-border: rgb(var(--border));
  --color-input: rgb(var(--input));
  --color-ring: rgb(var(--ring));

  --color-chart-1: rgb(var(--chart-1));
  --color-chart-2: rgb(var(--chart-2));
  --color-chart-3: rgb(var(--chart-3));
  --color-chart-4: rgb(var(--chart-4));
  --color-chart-5: rgb(var(--chart-5));

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: rgb(var(--sidebar));
  --color-sidebar-foreground: rgb(var(--sidebar-foreground));
  --color-sidebar-primary: rgb(var(--sidebar-primary));
  --color-sidebar-primary-foreground: rgb(var(--sidebar-primary-foreground));
  --color-sidebar-accent: rgb(var(--sidebar-accent));
  --color-sidebar-accent-foreground: rgb(var(--sidebar-accent-foreground));
  --color-sidebar-border: rgb(var(--sidebar-border));
  --color-sidebar-ring: rgb(var(--sidebar-ring));
}


@layer base {
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }

  * {
    border-color: rgb(var(--border));
    outline-color: rgb(var(--ring));
  }
}
